project        = "realworld-app-000000"
region         = "asia-northeast1"
zone           = "asia-northeast1-a"
project_name   = "realworld-app"
base_domain    = "real-world.ch0wdren.io"
dns_zone_name  = "real-world-zone"
project_number = "XXXXXXXXXXXX"
